.oui-viewing {
  scroll-snap-align: start;
  scroll-snap-stop: always;


  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 40%;
}
